<div id="carouselExampleCaptions" #carousel class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex">
        <div class="carousel-item-image">
          <img src="/assets/IMG/banner1.jpg" class="d-block w-100" alt="Imagen 1">
          <div class="carousel-caption d-none d-md-block">
            <a href="https://example.com/link1" target="_blank">
              <h5>AVANCE OFICIAL - EL ARCHIVO DE LAS TORMENTAS 5 - VIENTO Y VERDAD: CAPÍTULO 34</h5>
            </a>
          </div>
        </div>
        <div class="carousel-item-image">
          <img src="/assets/IMG/banner2.jpg" class="d-block w-100" alt="Imagen 2">
          <div class="carousel-caption d-none d-md-block">
            <a href="https://example.com/link2" target="_blank">
              <h5>AVANCE OFICIAL - EL ARCHIVO DE LAS TORMENTAS 5 - VIENTO Y VERDAD: CAPÍTULO 33</h5>
            </a>
          </div>
        </div>
        <div class="carousel-item-image">
          <img src="/assets/IMG/banner3.jpg" class="d-block w-100" alt="Imagen 3">
          <div class="carousel-caption d-none d-md-block">
            <a href="https://example.com/link3" target="_blank">
              <h5>AVANCE OFICIAL - EL ARCHIVO DE LAS TORMENTAS 5 - VIENTO Y VERDAD: CAPÍTULOS 31 Y 32</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex">
        <div class="carousel-item-image">
          <img src="/assets/IMG/banner4.jpg" class="d-block w-100" alt="Imagen 4">
          <div class="carousel-caption d-none d-md-block">
            <a href="https://example.com/link4" target="_blank">
              <h5>AVANCE OFICIAL - EL ARCHIVO DE LAS TORMENTAS 5 - VIENTO Y VERDAD: CAPÍTULOS 29 Y 30</h5>
            </a>
          </div>
        </div>
        <div class="carousel-item-image">
          <img src="/assets/IMG/banner5.jpg" class="d-block w-100" alt="Imagen 5">
          <div class="carousel-caption d-none d-md-block">
            <a href="https://example.com/link5" target="_blank">
              <h5>AVANCE OFICIAL - EL ARCHIVO DE LAS TORMENTAS 5 - VIENTO Y VERDAD: CAPÍTULOS 27 Y 28</h5>
            </a>
          </div>
        </div>
        <div class="carousel-item-image">
          <img src="/assets/IMG/banner1.jpg" class="d-block w-100" alt="Imagen 1">
          <div class="carousel-caption d-none d-md-block">
            <a href="https://example.com/link6" target="_blank">
              <h5>AVANCE OFICIAL - EL ARCHIVO DE LAS TORMENTAS 5 - VIENTO Y VERDAD: CAPÍTULO 34</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="progress-bar-container">
    <div #progressBar class="progress-bar"></div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
