 /* Estilo para la navbar */
 .navbar {
     width: 100%;
     /* Asegura que ocupe el ancho completo */
     height: 80px;
     background-color: rgba(0, 0, 0, 0.7) !important;
     padding: 0 5%;
     /* Espaciado interno proporcional */
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 /* Asegurarse de que el logo esté a la izquierda */
 .navbar .navbar-brand {
     display: flex;
     align-items: center;
     flex: 0.5;
 }


 /* Asegurar que la lupa esté a la derecha */
 .navbar-nav.ms-auto {
     margin-right: 10%;
     /* Espaciado dinámico para la derecha */
 }

 /* Espacio entre los enlaces de la navbar */
 .navbar-nav .nav-item {
     margin: 0 3%;
     /* Espaciado horizontal en porcentajes */
 }

 /* Color de los enlaces en la barra de navegación */
 nav a {
     letter-spacing: 1px;
     /* Aumenta el espacio entre letras */
     color: white;
     font-family: 'Montserrat', sans-serif;
     font-size: 13px;
     font-weight: bolder;
     padding: 0.5em;
     /* Espaciado interno responsivo */
 }

 /* Color al pasar el ratón sobre los enlaces */
 nav a:hover {
     color: #FF9500 !important;
     text-shadow: 0 0 4px rgb(145, 94, 0), 0 0 6px rgb(145, 94, 0);
     /* Brillo sutil naranja alrededor del texto */
 }

 /* Eliminar el triángulo de los enlaces desplegables */
 .nav-link.dropdown-toggle::after {
     display: none;
 }

 /* Estilo para el enlace activo */
 .nav-item .nav-link.active {
     color: #FF9500 !important;
     text-shadow: 0 0 4px rgb(145, 94, 0), 0 0 6px rgb(145, 94, 0);
     /* Brillo sutil naranja alrededor del texto */
 }

 /* Estilo para el logo */
 .navbar-brand img {
     height: 30px !important;
     width: auto;
 }

 /* Estilo para los enlaces de los submenús al pasar el ratón */
 .dropdown-item:hover {
     background-color: transparent;
     color: #FF9500;
 }

 /* Mostrar el menú desplegable al pasar el ratón sobre el enlace */
 .nav-item.dropdown:hover .dropdown-menu {
     display: block;
 }

 /* Cambiar el fondo de los submenús (dropdown) a negro */
 .dropdown-menu {
     background-color: black !important;
     border-top: 1px solid rgba(255, 255, 255, 0.2);
     border-left: 1px solid rgba(255, 255, 255, 0.2);
     padding: 20px 20px;
     /* Añadir más espacio alrededor de los elementos */
 }

 //Estilo de los enlaces del menú desplegable
 .dropdown-menu a {
     color: #e2dfdf;
     font-weight: lighter;
     margin-bottom: 5%;
 }

 /* Iconos de redes sociales: estilo por defecto */
 .navbar-nav .nav-item .nav-link i {
     color: white;
     font-size: 13px;
     transition: color 0.3s ease;
 }

 /* Iconos de redes sociales al pasar el ratón */
 .navbar-nav .nav-item .nav-link:hover i {
     color: #FF9500 !important;
 }

 /* Ajustar el tamaño y margen del icono de la lupa*/
 .navbar-nav .nav-item .nav-link.search-icon i {
     font-size: 18px;
     /* Ajusta el tamaño del icono */
     margin-top: 70%;
     /* Elimina cualquier margen extra */
 }


 /* Estilo para la barra de búsqueda */
 .search-bar {

     width: 0;
     /* Inicialmente, la barra tendrá un ancho de 0 */
     max-width: 200px;
     /* Ancho máximo */
     background-color: #000;
     color: white;
     border: 1px solid rgba(255, 255, 255, 0.2);
     padding: 0.5em;
     border-radius: 5px;
     transition: width 0.5s ease;
     /* Animación para el cambio de ancho */
     overflow: hidden;
     /* Evitar que el contenido se desborde cuando el ancho es 0 */
     visibility: hidden;
     /* Asegura que la barra sea invisible cuando no está activa */
 }

 /* Cuando la barra de búsqueda es visible */
 .search-bar.visible {
     width: 300px;
     /* Se expande a su tamaño máximo */
     visibility: visible;
     /* Hace visible la barra cuando está activa */
 }

 .search-bar::placeholder {
     font-family: 'Montserrat';
     font-weight: bold;
     font-size: 13px;
     color: white;
     /* Cambia el color del texto del placeholder */
     opacity: 1;
     /* Asegura que la opacidad sea 100% para que se vea correctamente */
 }

 /* Estilo cuando el menú es comprimido (pantallas pequeñas) */
 @media (max-width: 991px) {
     .navbar-nav .nav-link:hover {
         color: rgb(245, 112, 4);
     }

     .nav-item .nav-link.active {
         color: rgb(245, 112, 4) !important;
     }

     /* Asegurarse de que los submenús también se adapten */
     .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
         color: rgb(245, 112, 4);
     }

     /* No mostrar el submenú cuando se pase el ratón */
     .nav-item .dropdown-menu {
         display: none;
     }

     /* Estilo cuando el submenú debe ser visible por clic */
     .nav-item.dropdown.show .dropdown-menu {
         display: block;
     }
 }