.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que cubra toda la altura de la pantalla */
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.content {
  flex: 1; /* Permite que esta sección crezca y ocupe el espacio disponible */
  margin: 0;
  padding: 20px; /* Espaciado interno para el contenido */
  position: relative;
  z-index: 1;
  color: white; /* Asegura que el texto sea visible sobre el video */
}

.main-container::before {
  content: ''; /* Solo necesario si deseas un fondo adicional */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para oscurecer el fondo */
  z-index: -1;
}

.main-container video.background-video {
  position: fixed; /* Fija el video al viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra toda la pantalla */
  z-index: -1; /* Coloca el video detrás del contenido */
  pointer-events: none; /* Evita que interfiera con la interacción del usuario */
  filter: brightness(0.3); /* Ajusta el brillo del video */
}
