/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    /* Establece la altura completa */
    margin: 0;
    padding: 0;
    /* Elimina el margen por defecto */
    display: flex;
    /* Activa Flexbox */
    flex-direction: column;
    /* Organiza los elementos de arriba hacia abajo */
    color: black;
    background-color: transparent;
   
}

/* Contenido principal de la página */
.main-content {
    flex: 1;
    /* Permite que este elemento ocupe el espacio disponible */
    padding: 20px;
    /* Agrega algo de espacio alrededor del contenido */
}

/* Estilo para el footer */
footer {
    background-color: #333;
    /* Color de fondo del footer */
    color: white;
    /* Color del texto */
    text-align: center;
    /* Centra el texto */
    padding: 10px 0;
    /* Añade algo de espacio alrededor */
}